<!DOCTYPE html>
{% load static %}

<html lang="pt-br" >
<head>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/nav_sidebar.css' %}">
<script src="{% static 'js/nav_sidebar.js' %}" defer></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
<meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class=" login"
  data-admin-utc-offset="-10800">
    <!-- Container -->
    <div id="container">
        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="{% url 'login' %}">Login do Sistema</a></h1>
            </div>
        </div>
        <!-- END Header -->
        <div class="main shifted" id="main">
            <div class="content">
                <!-- Content -->
                <div id="content" class="colM">
                    <div id="content-main">
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-row">
                                <label class="required" for="id_username">{{ form.username.label_tag }}</label> 
                                <input type="text" name="username" maxlength="150">
                            </div>
                            <div class="form-row">
                                <label class="required" for="id_password">{{ form.password.label_tag }}</label> 
                                <input type="password" name="password">

                                <input type="hidden" name="next" value="{{ next }}">
                            </div>
                            <div class="submit-row">
                                <input type="submit" value="Login">
                            </div>
                        </form>
                    </div>
                    <br class="clear">
                </div>
                <!-- END Content -->
                <div id="footer">
                </div>
            </div>
        </div>    
    </div>
    <!-- END Container -->
</body>
</html>

