{% extends 'ordem/base.html' %}

{% block breadcrumbs %}
    <a href="#">Início</a>
    &rsaquo; 
    <a href="{% url 'manutencao' %}">Manutentor</a>
    &rsaquo; Adicionar
{% endblock %}
{% block header %}
<div id="header">
  <div id="branding">
    <h1 id="site-name">
      <a href="/admin/">Gestão de Manutenção</a>
    </h1>
  </div>
  <div id="user-tools">
    Bem-vindo(a),
    <strong>silvio</strong>.
    <a href="/">Ver o site</a> /
    <a href="/admin/password_change/">Alterar senha</a> /
    <a href="/admin/logout/">Encerrar sessão</a>
  </div>
</div>
{% endblock %}
{% block main %}

<div class="content">
  <div id="content" class="colM">
    <span>Adicionar Manutentor</span>
    <div id="content-main">
      <form method="post" id="manutencao_form" novalidate>
        <fieldset class="module aligned ">
          <!-- Aqui OHHH -->
          {{ form.as_p }}
          <!-- Até Aqui -->
        </fieldset>
        {% csrf_token %}
        <div>
          <div class="submit-row">
            <input type="submit" value="Salvar" class="default" name="_save">
          </div>
          <script id="django-admin-form-add-constants"
            src="/static/admin/js/change_form.js"
            data-model-name="manutencao"
            async>
          </script>
          <script id="django-admin-prepopulated-fields-constants"
            src="/static/admin/js/prepopulate_init.js"
            data-prepopulated-fields="[]">
          </script>
        </div>
      </form>
    </div>
    <br class="clear">
  </div>
</div>

{% endblock %}
