{% extends 'ordem/base.html' %}

{% block breadcrumbs %}
    <a href="#">Início</a>
    &rsaquo; Ordens
{% endblock %}

{% block main %}
<div class="main shifted" id="main">
    <div class="content">
      <!-- Content -->
      <div id="content" class="flex">
        <p>Selecione uma ordem para edição</p>
        <div id="content-main">
          <ul class="object-tools">
            <li>
              {% if user.is_staff %}
                <a href="{% url 'ordem_add' %}" class="addlink">
                  Adicionar Ordem
                </a>
              {% endif %}
            </li>
          </ul>
          <div class="module" id="changelist">
            <div class="changelist-form-container">
              <form id="changelist-form" method="post" novalidate>
                {% csrf_token %}
                <div class="container">
                  <table id="result_list">
                    <thead>
                      <tr>
                        <th scope="col"  class="">
                          <div class="text"><span>Equipamento</span></div>
                        </th>
                        <th scope="col"  class="">
                          <div class="text"><span>Criado em</span></div>
                        </th>
                        <th scope="col"  class="">
                          <div class="text"><span>Tipo Serviço</span></div>
                        </th>
                        <th scope="col"  class="">
                          <div class="text"><span>Descrição do Defeito</span></div>
                        </th>
                        <th scope="col"  class="">
                          <div class="text"><span>Manutentor</span></div>
                        </th>
                        <th scope="col"  class="">
                          <div class="text"><span>Situação</span></div>
                        </th>
                        <th scope="col"  class="">
                          <div class="text"><span>Estado</span></div>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      {% for dados in dados %}
                      <tr>

                          {% if dados.Estado == 'Parado' %}

                            <th>

                              {% if dados.Manutentor == none %}
                                  <a href="{% url 'ordem_abrir' dados.id %}" style="color:red;">{{ dados.Equipamento }}</a>
                              {% else %}
                                {% if dados.Situacao == 'concluido' %}
                                  <a href="{% url 'ordem_consultar' dados.id %}" style="color: rgb(255, 230, 0);">{{ dados.Equipamento }}</a>
                                {% else %}
                                  <a href="{% url 'ordem_update' dados.id %}" style="color: red;">{{ dados.Equipamento }}</a>
                                {% endif %}
                              {% endif %}

                            </th>

                          {% elif dados.Estado == 'Funcionando' %}

                          <th style="color: red;">
                            {% if dados.Manutentor == none %}
                                <a href="{% url 'ordem_abrir' dados.id %}">{{ dados.Equipamento }}</a>
                            {% else %}
                              {% if dados.Situacao == 'concluido' %}
                                <a href="{% url 'ordem_consultar' dados.id %}" style="color: green;">{{ dados.Equipamento }}</a>
                              {% else %}
                                <a href="{% url 'ordem_update' dados.id %}" style="color: green;">{{ dados.Equipamento }}</a>
                              {% endif %}

                            {% endif %}

                          </th>

                          {% elif dados.Estado == 'Programado' %}

                          <th style="color: red;">
                            {% if dados.Manutentor == none %}
                              {% if dados.Situacao == 'concluido' %}
                                <a href="{% url 'ordem_consultar' dados.id %}">{{ dados.Equipamento }}</a>
                              {% else %}
                                <a href="{% url 'ordem_abrir' dados.id %}">{{ dados.Equipamento }}</a>
                              {% endif %}
                              
                            {% else %}
                              {% if dados.Situacao == 'concluido' %}
                                <a href="{% url 'ordem_consultar' dados.id %}">{{ dados.Equipamento }}</a>
                              {% else %}
                                <a href="{% url 'ordem_update' dados.id %}">{{ dados.Equipamento }}</a>
                              {% endif %}
                            {% endif %}
                          </th>

                          {% else %}

                          <th style="color: red;">
                            {% if dados.Manutentor == none %}
                              {% if dados.Situacao == 'concluido' %}
                                <a href="{% url 'ordem_consultar' dados.id %}">{{ dados.Equipamento }}</a>
                              {% else %}
                                <a href="{% url 'ordem_abrir' dados.id %}">{{ dados.Equipamento }}</a>
                              {% endif %}
                              
                            {% else %}
                              {% if dados.Situacao == 'concluido' %}
                                <a href="{% url 'ordem_consultar' dados.id %}">{{ dados.Equipamento }}</a>
                              {% else %}
                                <a href="{% url 'ordem_update' dados.id %}">{{ dados.Equipamento }}</a>
                              {% endif %}

                            {% endif %}

                          </th>
                          {% endif %}

                          <th class="">
                            <a>{{ dados.Modificado }}</a>
                          </th>
                          <th class="">
                            <a>{{ dados.Tipo_Servico }}</a>
                          </th>
                          <th class="">
                            <a>{{ dados.Descricao }}</a>
                          </th>
                          <th class="">
                            {% if dados.Manutentor == none %}
                              <a>-------------------</a>
                            {% else %}
                              <a>{{ dados.Manutentor }}</a>
                            {% endif %}
                          </th>
                          <th class="">
                            <a>{{ dados.Situacao }}</a>
                          </th>
                          <th class="">
                            <a>{{ dados.Estado }}</a>
                          </th>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <p class="paginator">
                    {% if dados.count == 1 %}
                    <span>{{ dados.count }} > Ordem</span>
                    {% else %}
                      <span>{{ dados.count }} > Ordens</span>
                    {% endif %}
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
        <br class="clear">
        </div>
          <!-- END Content -->
          <div id="footer"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}