{% extends 'ordem/base.html' %}

{% block breadcrumbs %}
    <a href="#">Início</a>
    &rsaquo; 
    <a href="{% url 'ordem' %}">Ordem</a>
    &rsaquo; Atualizar
{% endblock %}

{% block main %}
<div class="content">
    <div id="content" class="colM">
      <spam>Atualizar Equipamento {{ dados.Nome }}</spam>
      </br>
      <div id="content-main">
        <form method="post" id="manutencao_form" novalidate>
          <fieldset class="module aligned ">
          </br>
          <spam>Descricao do Defeito : {{ dados.Descricao }}</spam>
          </br>
          </br>
            <!-- Aqui OHHH -->
            {{ form.as_p }}
            <!-- Até Aqui -->
          </fieldset>
          {% csrf_token %}
          <div>
            <div class="submit-row">
              <p class="deletelink-box">
                <a href="{% url 'ordem_fechar' dados.id %}" class="deletelink">Fechar Ordem</a>
              </p>
              <input type="submit" value="Salvar" class="default" name="_save">
              <input type="submit" value="Adicionar Peças" name="_addanother">
              <input type="submit" value="Salvar e continuar editando" name="_continue">
            </div>
            <script id="django-admin-form-add-constants"
              src="/static/admin/js/change_form.js"
              data-model-name="manutencao"
              async>
            </script>
            <script id="django-admin-prepopulated-fields-constants"
              src="/static/admin/js/prepopulate_init.js"
              data-prepopulated-fields="[]">
            </script>
          </div>
        </form>
      </div>
      <br class="clear">
    </div>
  </div>
  
{% endblock %}